/*@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
body {
	font-family: 'Noto Sans TC', sans-serif;
}*/
fieldset {
    width:90%;
    border-radius: 10px;
}
* {
    font-size: 16px;
    /*font-family: "細明體 新細明體 Arial";*/
}
#menubar {
    box-shadow:4px 4px 8px -2px rgba(20%,20%,40%,0.5);
}
#menubar td {
    padding:10px;
    color:gray;
    background-color:ghostwhite;
}
#menubar td:hover {
    background-color:lavender;
    color:black;
    cursor:pointer;
}
h2 {
    font-size: 25px;
    line-height: 35px;
}
h3 {
    font-size: 16px;
    line-height: 30px;
    text-indent: 10px;
}
input {
    padding: 5px;
}
select {
    padding: 5px;
}
.tdtitle {
	color:dimgray;
	text-align: right;
}
.tdinput {
	color:black;
	text-align: left;
}
ol {
    font-size: 20px;
    color:royalblue;
    line-height: 25px;
}
ol li {
    color:black;
    line-height: 30px;
}
ul li {
    line-height: 30px;
}
p {
    line-height: 22px;
}
a:hover {
    cursor: pointer;
}
#regdiv {
    font-size: 15px;
    font-weight: bold;
}
#regdiv input {
    font-size: 15px;
    padding: 5px;
}
#regdiv a {
    font-size: 14px;
    font-weight: bold;
}
.tdclick {
    padding:10px;
    color:gray;
    background-color:ghostwhite;
}
.tdclick:hover {
    background-color:lavender;
    color:black;
    cursor:pointer;
}
.plink {
    width:20%;
    padding:10px 20px;
    background-color: cornflowerblue;
    color:white;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid cornflowerblue;
    border-radius: 5px;
}
#showcustomer td {
    width:20%;
    padding:10px;
    text-align: center;
    vertical-align: middle;
}
#mydata td {
    line-height: 30px;
}
.block {
    background-image: url(http://www.top1team.com/topsales/bgimage.png);
    background-repeat: repeat;
    position: fixed;
    z-index:9999;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    /*For old IE*/
    filter:alpha(opacity=38); /*數字越小越透明*/
    /*zoom:1;*/
    /*For new IE*/
    filter:progid:DXImageTransform.Microsoft.BasicImage(opacity=.38);
    /*For Mozilla*/
    -moz-opacity: 0.38;
    /*For other browser*/
    opacity: 0.38;
}